html, body {
  height: 100%;
  margin: 0;
  background-color: white;
}

.sky{
	height: 100vh;
	width: 100%;
	margin: 0px;
	top:0px;
	left: 0px;
	background-image: url("sky.png");
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.sun{
	position: absolute;
	width: 100%;
	height: 100vh;
	top: 0px;
	left: 0px;
	background-image: url(sun.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.bhill{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;

	background-image: url(backhill1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.fhill{
	position: absolute;
	width: 100%;
	height: 100vh;
	right:0px;
	top: 0%;
	background-image: url(fronthill1.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.treeback{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;

	background-image: url(lastrow.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.treemid{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background-image: url(Cliff_for_anim.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.treefront{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background-image: url(frontrow.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.cliff{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background-image: url(cliff.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.man{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0%;
	top: 0px;
	background-image: url(man.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

.shadow{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background-image: url(shadow.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;	
}

.crows{
	position: absolute;
	width: 100%;
	height: 100vh;
	left: 0px;
	top: 0px;
	background-image: url(crows.png);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}

a{

	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 1.5vw;
	line-height: 33px;

	color: rgba(22, 22, 22, 0.71);

}

a:link{
  text-decoration: none;
}

a:hover{
  text-decoration: none;
  color: white;
  transition-delay: 0.1s;
}

ul{
	position: absolute;
	top: 0px;
	right: 15px;
}

li {

  display: inline;
  margin: 15px;
}

